<p>Static DataTable</p>
<div class="panel-body">
    <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions">
        <thead class="thead-light">
            <tr>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Student Branch</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr>
              <tr>
                  <td>Rajnikant</td>
                  <td>raj.c800@gmail.com</td>
                  <td>Computer</td>
                  <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                    <button  class='btn btn-info'
                    data-toggle="modal" data-target="#myModal">Update</button>
                  </td>
                </tr>
                <tr>
                    <td>Rajnikant</td>
                    <td>raj.c800@gmail.com</td>
                    <td>Computer</td>
                    <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                      <button  class='btn btn-info'
                      data-toggle="modal" data-target="#myModal">Update</button>
                    </td>
                  </tr>
             <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr>
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr>
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr>
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr>
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr> 
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr> 
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr> 
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr> 
              <tr>
                <td>Rajnikant</td>
                <td>raj.c800@gmail.com</td>
                <td>Computer</td>
                <td><button  class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>&nbsp;
                  <button  class='btn btn-info'
                  data-toggle="modal" data-target="#myModal">Update</button>
                </td>
              </tr> 
        </tbody><br>
    </table>
</div>

